<h1>Manage Tasks</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Created At</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% data.forEach(task => { %>
            <tr>
                <td><a href="/review-task/<%= task._id %>"><%= task._id %></a></td>
                <td><%= task.createdAt.toISOString() %></td>
                <td><%= task.status %></td>
                <td>
                    <% if (task.status === "active" || task.status === "delayed") { %>
                        <form action="/cancel-task/<%= task._id %>" method="POST" style="display: inline-block;">
                            <input type="submit" value="Cancel">
                        </form>
                    <% } else { %>
                        <form action="/delete-task/<%= task._id %>?_method=DELETE" method="POST" style="display: inline-block;">
                            <input type="submit" value="Delete">
                        </form>
                    <% } %>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>